<br>
<br>
<br>
<br>

<form [formGroup]="productForm" (ngSubmit)="onFormSubmit(productForm.value)">
<mat-tab-group (selectedIndexChange)=test>
  <mat-tab label="Recorrente">
    <div class="w3-panel w3-blue">
      <h3 style="color: white">Dados proprietário do veículo!</h3>
    </div>
    <mat-form-field class="width-400">
      <input matInput placeholder="CPF" formControlName="cpfProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Nome" formControlName="nomeProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="RG" formControlName="rgProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Profissão" formControlName="profissaoProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="CEP" formControlName="cepProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Estado" formControlName="estadoProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Cidade" formControlName="cidadeProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Bairro" formControlName="bairroProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Rua" formControlName="ruaProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-100">
      <input matInput placeholder="Numero" formControlName="numeroProprietario"
             [errorStateMatcher]="matcher">
    </mat-form-field>

    <div class="w3-panel w3-blue">
      <h3 style="color: white">Dados condutor do veículo!</h3>
    </div>

    <mat-form-field class="width-400">
      <input matInput placeholder="CPF" formControlName="cpfCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Nome" formControlName="nomeCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="RG" formControlName="rgCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Profissão" formControlName="profissaoCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="CEP" formControlName="cepCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Estado" formControlName="estadoCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Cidade" formControlName="cidadeCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-400">
      <input matInput placeholder="Bairro" formControlName="bairroCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Rua" formControlName="ruaCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field class="width-100">
      <input matInput placeholder="Número" formControlName="numeroCondutor"
             [errorStateMatcher]="matcher">
    </mat-form-field>


  </mat-tab>
  <mat-tab label="Veículo">
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Marca" formControlName="marca"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Modelo" formControlName="modelo"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Placa" formControlName="placa"
             [errorStateMatcher]="matcher">
    </mat-form-field>
    <br>
    <mat-form-field class="width-400">
      <input matInput placeholder="Renavam" formControlName="renavam"
             [errorStateMatcher]="matcher">
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Penalidade">
    <br>
    <mat-radio-group
      aria-labelledby="example-radio-group-flex-label"
      class="example-radio-group-flex"
      formControlName="penalidade">
        <mat-radio-button class="example-radio-button" *ngFor="let penalidade of penalidades" [value]="penalidade">
          {{penalidade}}
        </mat-radio-button>
        <br>
    </mat-radio-group>

    <div *ngIf="productForm.value.penalidade">
      <br>
      <mat-form-field class="width-400">
        <input matInput placeholder="Orgão Autuante" formControlName="orgaoAutuante"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      <br>
      <mat-form-field class="width-400">
        <input matInput placeholder="Número da Autuação" formControlName="numeroAutuacao"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      <br>
      <mat-form-field class="width-400">
        <input matInput placeholder="Artigo" formControlName="artigo"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      <br>
      <!--<mat-form-field>-->
        <!--<input matInput formControlName="dataInfracao" [matDatepicker]="picker1" placeholder="Data da infração" [formControl]="date">-->
        <!--<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>-->
        <!--<mat-datepicker #picker1></mat-datepicker>-->
      <!--</mat-form-field>-->
      <mat-form-field class="width-400">
        <input matInput placeholder="Data da infração" formControlName="dataInfracao"
               [errorStateMatcher]="matcher">
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;
      <mat-form-field class="width-400">
        <input matInput placeholder="Hora da Infração" formControlName="horaInfracao"
               [errorStateMatcher]="matcher">
      </mat-form-field>

    </div>



  </mat-tab>
  <mat-tab label="Defesa Prévia">

    <br>
    <label id="abordado">O veículo foi abordado?</label>
    <mat-radio-group
      aria-labelledby="abordado"
      class="example-radio-group"
      formControlName="foiAbordado">
      <mat-radio-button class="example-radio-button" *ngFor="let resposta of respostas" [value]="resposta">
        {{resposta}}
      </mat-radio-button>
    </mat-radio-group>

    <br>
    <div *ngIf="productForm.value.foiAbordado">
    <label id="assinouOAutoDeInfracao">O condutor assinou o Auto de infração?</label>
    <mat-radio-group
      aria-labelledby="assinouOAutoDeInfracao"
      class="example-radio-group"
      formControlName="assinouOAutoDeInfracao">
      <mat-radio-button class="example-radio-button" *ngFor="let resposta of respostas" [value]="resposta">
        {{resposta}}
      </mat-radio-button>
    </mat-radio-group>
    </div>

    <br>
    <div *ngIf="productForm.value.assinouOAutoDeInfracao">
      <label id="contemRasura">O Auto de infração possui rasuras?</label>
      <mat-radio-group
        aria-labelledby="contemRasura"
        class="example-radio-group"
        formControlName="contemRasura">
        <mat-radio-button class="example-radio-button" *ngFor="let resposta of respostas" [value]="resposta">
          {{resposta}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <br>
    <mat-form-field class="width-400" *ngIf="productForm.value.contemRasura == 'Sim'">
      <input matInput placeholder="Campo rasurado" formControlName="campoRasurado"
             [errorStateMatcher]="matcher">
    </mat-form-field>

    <div *ngIf="productForm.value.contemRasura == 'Não' || productForm.value.campoRasurado">
      <label id="letraLegivel">A letra do agente de trânsito é legível?</label>
      <mat-radio-group
        aria-labelledby="letraLegivel"
        class="example-radio-group"
        formControlName="letraLegivel">
        <mat-radio-button class="example-radio-button" *ngFor="let resposta of respostas" [value]="resposta">
          {{resposta}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div style="text-align: right;">
      <button type="submit" (click)="meessage=true" [disabled]="!productForm.valid">Gerar recurso</button>
    </div>
  </mat-tab>
  <mat-tab label="1º Instancia"> Content 3 </mat-tab>
  <mat-tab label="2º Instancia"> Content 3 </mat-tab>

</mat-tab-group>
</form>
<div class="w3-panel w3-green" *ngIf="meessage">
  <h2 style="color: white">Recurso Gerado com sucesso!</h2>
</div>


<!--<button  type="button" mat-stroked-button color="primary" (click)="handleClick($event)">Primary</button>-->











<!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">-->
  <!--{{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}-->
<!--</button>-->
<!--<mat-horizontal-stepper [linear]="isLinear" #stepper>-->
  <!--<mat-step [stepControl]="firstFormGroup">-->
    <!--<form [formGroup]="firstFormGroup">-->
      <!--<ng-template matStepLabel>Fill out your name</ng-template>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Last name, First name" formControlName="firstCtrl" required> {{firstFormGroup.firstCtrl}}-->
      <!--</mat-form-field>-->
      <!--<div>-->
        <!--<button mat-button matStepperNext>Next</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</mat-step>-->
  <!--<mat-step [stepControl]="secondFormGroup">-->
    <!--<form [formGroup]="secondFormGroup">-->
      <!--<ng-template matStepLabel>Fill out your address</ng-template>-->
      <!--<mat-form-field>-->
        <!--<input matInput placeholder="Address" formControlName="secondCtrl" required>-->
      <!--</mat-form-field>-->
      <!--<div>-->
        <!--<button mat-button matStepperPrevious>Back</button>-->
        <!--<button mat-button matStepperNext>Next</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</mat-step>-->
  <!--<mat-step>-->
    <!--<ng-template matStepLabel>Done</ng-template>-->
    <!--You are now done.-->
    <!--<div>-->
      <!--<button mat-button matStepperPrevious>Back</button>-->
      <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
    <!--</div>-->
  <!--</mat-step>-->
<!--</mat-horizontal-stepper>-->
